In [4]:
!pip install dbf
!pip install dbfread

Requirement already satisfied: dbf in /opt/conda/envs/py36/lib/python3.6/site-packages (0.99.1)
Requirement already satisfied: aenum in /opt/conda/envs/py36/lib/python3.6/site-packages (from dbf) (3.1.0)
Requirement already satisfied: dbfread in /opt/conda/envs/py36/lib/python3.6/site-packages (2.0.7)

In [6]:
from dbfread import DBF
import pandas as pd

a= DBF("result_format.dbf")
df = pd.DataFrame(a)

     fireid
0      1212
1      1654
2      1753
3      1549
4      1769
..      ...
96     1515
97     1208
98     1210
99     1760
100    1963

[101 rows x 1 columns]